.body {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#big-T {
    display: inline-flex;
    background-image: url("../../assets/images/tree-of-death.jpg");
    align-items: center;
    width: 125px;
    height: 125px;
    margin: 0px;
    justify-content: center;
    font-size: 75px;
    color: whitesmoke;
}

#para-one {
    width: 82%;
    display: inline-flex;
    vertical-align: top;
    flex-wrap: nowrap;
}

#para-two {
    display: flexbox;
    align-items: center;
    justify-items: center;
}

#comparison-img {
    float: right;
    margin: 0px 0px 0px 0px;
}