@import "normalize.css";
@import url("../../assets/fonts/fonts.css");

img {
    width: 100%;
}

header {
    display: flex;
}

#center_flex {
    display: flex;
    align-items: center;
}

#leftdiv {
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-end;
    align-items: center;
    margin: auto 5vw;
    font-size: 4em;
}

#part1 {
}

#part2 {
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    min-width: fit-content;
    min-height: fit-content;
}

#cursive_gibberish {
    font-family: "janeaustennosecret";
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    margin: auto 10vw;
}
