@use "normalize.css";
@use "../assets/fonts/fonts.css";
@import url("https://use.typekit.net/frv2klm.css");

article {
    h2 {
        font-size: 2rem;
        padding: 15px 0px;
        font-family: "Adobe Garamond Pro", "Adobe Garamond Pro Bold",
            "Adobe Garamond Pro Italic", "Adobe Garamond Pro Bold Italic";

        span {
            color: red;
        }
    }
}

body {
    font-family: Arial, Helvetica, sans-serif;

    main {
        div {
            display: flex;
        }
    }

    .cutouts {
        height: 100vh;
        padding: 10px;
        position: sticky;
        top: 0;
    }
}

article {
    img {
        max-height: 100%;
        max-width: 100%;
        height: auto;
        width: 100%;
        object-fit: contain;
    }
}
