@import "normalize.css";
@import url("../../assets/fonts/fonts.css");
@import url("https://use.typekit.net/frv2klm.css");
img {
  height: 100vh;
}

header {
  font-family: "Adobe Garamond Pro", "Adobe Garamond Pro Bold", "Adobe Garamond Pro Italic", "Adobe Garamond Pro Bold Italic";
}
header span {
  color: red;
}

body div {
  display: flex;
}