@font-face {
    font-family: "museo_sans500";
    src: url("fontspring-demo-museosans_500-webfont.woff2") format("woff2"),
        url("fontspring-demo-museosans_500-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "museo_sans500_italic";
    src: url("fontspring-demo-museosans_500_italic-webfont.woff2")
            format("woff2"),
        url("fontspring-demo-museosans_500_italic-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}
